<% include partials/header %>

<div id="form-container">
  <!--action is just the URL-->
  <form action="/" method="POST">
    <div class="section" id="section-one">
      <h3>Eligibility Questions</h3>
      <!-- smoker div needed for control flow -->
      <div id="smoker">
        <label>
          Smoker
          <input type="radio" name="smoker" value="yes"><span>yes</span>
          <input type="radio" name="smoker" value="no"><span>no</span>
        </label>
      </div>
      <div id="otherInsurance">
        <label>
          Other Insurance
          <input type="radio" name="otherInsurance" value="yes"><span>yes</span>
          <input type="radio" name="otherInsurance" value="no"><span>no</span>
        </label>
      </div>
      <button type="button" class="btn btn-secondary section-submit">page 2</button>
    </div>
    <div class="section" id="section-two">
      <label>
        part B
        <input type="radio" name="partB" value="yes"><span>yes</span>
        <input type="radio" name="partB" value="no"><span>no</span>
      </label>
      <button type="button" class="btn btn-secondary section-submit">page 3</button>
    </div>
    <div class="section" id="section-three">
      <label>
        part C
        <input type="radio" name="partC" value="yes"><span>yes</span>
        <input type="radio" name="partC" value="no"><span>no</span>
      </label>
      <button type="button" class="btn btn-secondary section-submit">page 4</button>
    </div>
    <div class="section" id="section-four">
      <label>
        part D
        <input type="radio" name="partD" value="yes"><span>yes</span>
        <input type="radio" name="partD" value="no"><span>no</span>
      </label>
      <button type="button" class="btn btn-secondary section-submit">page 5</button>
    </div>
    <div class="section" id="submit">
      <button class="btn btn-secondary" type="submit">Submit</button>
    </div>
  </form>
</div>
<script src="/test.js"></script>

<% include partials/footer %>