<% include partials/header %>

<!-- bootstrap requires container to use grid -->
<div class="container bg-light border p-3" id="form-container">
  
  <!--action is just the URL-->
  <form action="/" method="POST">
    <div class="section" id="section-one">
      <h3 class="display-4">Eligibility Questions</h3>

      <!-- bootstrap grids -->
      <!-- smoker div needed for control flow -->
      <!-- use bootstrap form-group class and wrap in divs once I fill out each page -->
      <div class="row" id="smoker">
        <p class="col">
          Cred meditation venmo, actually hammock you probably haven't heard of them trust fund activated charcoal. Poutine
          tote bag truffaut lomo readymade, hoodie edison bulb cronut shaman normcore single-origin coffee godard hashtag
          glossier.
        </p>
        <div class="col fixed-col align-self-end radio-monitor pb-2">
            <input type="radio" name="smoker" id="smokerYes" value="yes">
            <label class="left-radio p-2" for="smokerYes">yes</label>
            <input type="radio" name="smoker" id="smokerNo" value="no">
            <label class="right-radio p-2" for="smokerNo">no</label>
        </div>
      </div>

      <div class="row" id="otherInsurance">
        <p class="col">
          Kitsch small batch adaptogen truffaut, skateboard DIY VHS. Williamsburg ethical austin, prism biodiesel pop-up cray
          asymmetrical skateboard copper mug craft beer.
        </p>
        <div class="col fixed-col align-self-end radio-monitor pb-2">
            <input type="radio" name="otherInsurance" id="otherYes" value="yes">
            <label class="left-radio p-2" for="otherYes">yes</label>
            <input type="radio" name="otherInsurance" id="otherNo" value="no">
            <label class="right-radio p-2" for="otherNo">no</label>   
        </div>
      </div>
      <button type="button" class="btn btn-secondary section-submit">next page</button>
    </div>


    <div class="section" id="section-two">
      <h3 class="display-4">Guaranteed Acceptance Life</h3>
      <div class="row radio-monitor">
        <p class="col">
          Live-edge farm-to-table humblebrag mumblecore flexitarian pabst blog. 90's letterpress YOLO listicle chicharrones
          tattooed. Lyft godard cold-pressed swag tbh DIY. Actually drinking vinegar hot chicken selvage keffiyeh chia pug.
        </p>
        <div class="col fixed-col align-self-end radio-monitor pb-2">
            <input type="radio" name="partB" id="s2y" value="yes">
            <label class="left-radio p-2" for="s2y">yes</label>
            <input type="radio" name="partB" id="s2n" value="no">
            <label class="right-radio p-2" for="s2n">no</label>   
        </div>
      </div>      
      <button type="button" class="btn btn-info section-prev">go back</button>
      <button type="button" class="btn btn-secondary section-submit">next page</button>
    </div>


    <div class="section" id="section-three">
      <h3 class="display-4">Deferred Life</h3>
      <div class="row radio-monitor">
        <p class="col">
          Health goth vaporware try-hard fam, before they sold out etsy tilde shabby chic vape pabst cray. Raclette tacos wolf
          pork belly chia try-hard pok pok craft beer celiac.
        </p>
        <div class="col fixed-col align-self-end radio-monitor pb-2">
            <input type="radio" name="partC" id="s3y" value="yes">
            <label class="left-radio p-2" for="s3y">yes</label>
            <input type="radio" name="partC" id="s3n" value="no">
            <label class="right-radio p-2" for="s3n">no</label>   
        </div>
      </div>
      <button type="button" class="btn btn-info section-prev">go back</button>
      <button type="button" class="btn btn-secondary section-submit">next page</button>
    </div>


    <div class="section" id="section-four">
      <h3 class="display-4">Deferred Elite Plans</h3>
      <div class="row radio-monitor">
        <p class="col">
          Single-origin coffee thundercats hashtag kickstarter bicycle rights. Helvetica semiotics mustache stumptown
          gluten-free authentic messenger bag portland deep v sustainable.
        </p>
        <div class="col fixed-col align-self-end radio-monitor pb-2">
            <input type="radio" name="partD" id="s4y" value="yes">
            <label class="left-radio p-2" for="s4y">yes</label>
            <input type="radio" name="partD" id="s4n" value="no">
            <label class="right-radio p-2" for="s4n">no</label>   
        </div>
      </div>
      <button type="button" class="btn btn-info section-prev">go back</button>
      <button type="button" class="btn btn-secondary section-submit">next page</button>
    </div>


    <div class="section" id="section-five">
      <h3 class="display-4">Simplified Elite Plans</h3>
      <!-- don't have radio-monitor here since on last page -->
      <div class="row">
        <p class="col">
          Marfa wayfarers gentrify prism, snackwave tattooed art party freegan enamel pin etsy gluten-free. Narwhal put a bird
          on it poke single-origin coffee PBR&B gluten-free.
        </p>
        <div class="col fixed-col align-self-end radio-monitor pb-2">
            <input type="radio" name="partE" id="s5y" value="yes">
            <label class="left-radio p-2" for="s5y">yes</label>
            <input type="radio" name="partE" id="s5n" value="no">
            <label class="right-radio p-2" for="s5n">no</label>   
        </div> 
      </div>
      <button type="button" class="btn btn-info section-prev">go back</button>
      <!-- last section default button type should be submit -->
      <button type="submit" class="btn btn-secondary section-submit">next page</button>
    </div>
    
  </form>
</div>

<!-- jQuery must be loaded before script utilizing it -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- bootstrap functionality -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="/form.js"></script>

<% include partials/footer %>