<% include partials/header %>
<h1><i>Hello! My name is Reagan, and I'm so pleased to welcome you to my insurance website!</i></h1>

<div>
    <!--action is just the URL-->
    <form action="/" method="POST">
        
        <label>Province
            <select id="province" name="province">
            	<option value="AB">Alberta</option>
            	<option value="BC">British Columbia</option>
            	<option value="MB">Manitoba</option>
            	<option value="NB">New Brunswick</option>
            	<option value="NL">Newfoundland and Labrador</option>
            	<option value="NS">Nova Scotia</option>
            	<option value="ON">Ontario</option>
            	<option value="PE">Prince Edward Island</option>
            	<option value="QC">Quebec</option>
            	<option value="SK">Saskatchewan</option>
            	<option value="NT">Northwest Territories</option>
            	<option value="NU">Nunavut</option>
            	<option value="YT">Yukon</option>
            </select>
        </label>
        <label>Name
            <input type="text" name="name" required>
        </label>
        <label>Phone Number
            <input type="tel" name="phone_number" required>
        </label>
        <label>Email
            <input type="email" name="email" required>
        </label>
        <input type="submit">
    </form>
</div>
<% include partials/footer %>