<% include partials/header %>

  <h1><i>Congratulations! <%= message %></i></h1>
  <% console.log(input) %>
  <% Object.keys(input).forEach(function(item) { %>
      <li><%= item %>: <%= input[item] %></li>
  <% }); %>
  <a href="/" class="btn btn-secondary">Go back</a>
  
<% include partials/footer %>