<% include partials/header.ejs %>
    <h1>submission successful!</h1>
    <% console.log(input) %>
    <% Object.keys(input).forEach(function(item) { %>
        <li><%= item %>: <%= input[item] %></li>
    <% }); %>
<% include partials/footer.ejs %>
