<% include partials/header.ejs %>
    <h1>submission successful!</h1>
    <!---->
    <% Object.keys(input).forEach(function(item) { %>
        <li> var: <%= item %></li>
    <% }); %>
    
    <!--<div> submissions:-->
    <!--    <% input.forEach(function(item) { %>-->
    <!--        <li> test var: <%= item %><li>-->
    <!--    <% }); %>-->
    <!--</div>-->
<% include partials/footer.ejs %>
