/* insurance canada online styling:
    strong background: rgb(0, 148, 255)
    light background: rgb(185, 225, 255)
    */

/* express knows to look in public directory */ 

.jumbotron {
  background-color: rgb(0, 148, 255);
  
}

#body-custom-styling {
  background-color: rgb(185, 225, 255);
}

/* Each section except the first should be hidden when wizard is first displayed */
.section {
  display: none;
}

#section-one {
  display: block;
}

.left-radio {
  border: 3px solid rgb(0, 148, 255);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: center;
  /* height: 4rem; */
  font-size: 0.75rem;
}
/* NEED TO HARDCODE THE LABEL WIDTHS HERE */
.right-radio {
  border: 3px solid rgb(0, 148, 255);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: center;
  /* height: 4rem; */
  font-size: 0.75rem;  
}

.radio-bg {
  background: #FBFF92;
}

input {
  display: none;
}