/* insurance canada online styling:
    strong background: rgb(0, 148, 255)
    light background: rgb(185, 225, 255)
    */

/* express knows to look in public directory */ 

.jumbotron {
  background-color: rgb(0, 148, 255);
  
}

#body-custom-styling {
  background-color: rgb(185, 225, 255);
}

/* Each section except the first should be hidden when wizard is first displayed */
.section {
  display: none;
}

#section-one {
  display: block;
}