/* insurance canada online styling:
    strong background: rgb(0, 148, 255)
    light background: rgb(185, 225, 255)
    */

/* express knows to look in public directory */ 

.jumbotron {
  background-color: rgb(0, 148, 255);
  
}

#body-custom-styling {
  background-color: rgb(185, 225, 255);
}

/* Each section     except the first should be hidden when wizard is first displayed */
.section {
  display: none;
}

#section-one {
  display: block;
}

.left-radio {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: right;
}
/* NEED TO HARDCODE THE LABEL WIDTHS HERE */
.right-radio {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: left;
}

.radio-bg {
  background: #FBFF92;
}

input {
  display: none;
}

label {
  border: 3px solid rgb(0, 148, 255);
  display: inline-block;
  width: 70px;
  float: left;
  /* text-align: center; */
  /* font-size: 0.7rem;   */
}

.fixed-col {
  flex: 0 0 200px;
}

#form-container {
  border-radius: 15px 50px;
}

h3 {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;

}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

}