/* insurance canada online styling:
    strong background: rgb(0, 148, 255)
    light background: rgb(185, 225, 255)
    */

/* express knows to look in public directory */ 

h3 {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;

}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

input {
  display: none;
}

.jumbotron {
  background-color: rgb(0, 148, 255);
  
}

#form-container {
  border-radius: 15px 50px;
}

#body-custom-styling {
  background-color: rgb(185, 225, 255);
  /* font-size: 30px; */
}

.progress-container {
  width: 30%;
  margin: auto;
}

#progress-bar-custom {
  margin: auto;
  /* padding: 2em 0 3em; */
  list-style: none;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
}

.progress-icon {
  width: 1.25em;
  height: 1.25em;
  background-color: rgb(170,170,170);
  /* fill: gray; */
  border-radius: 50%;
  /* padding: 0.5em; */
  /* max-width: 100%; */
  /* z-index: 10; */
  /* position: relative; */
  transition: all .25s ease-out;
}

.progress-icon-active-complete {
  background-color: rgb(130,130,130);
}

.progress-icon-hide {
  background-color: rgb(185, 225, 255);
  /* visibility: hidden; */
  /* opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; */
}

/* Each section except the first should be hidden when wizard is first displayed */
.section {
  display: none;
}

#section-one {
  display: block;
}

.left-radio {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  text-align: right;
}

.right-radio {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: left;
}

.left-radio, .right-radio {
  border: 3px solid rgb(0, 148, 255);
  display: inline-block;
  width: 70px;
  float: left;
  /* text-align: center; */
  /* font-size: 0.7rem;   */
}

.radio-bg {
  background: #FBFF92;
}

.error {
  border: none;
  font-size: 0.7em;
}

.fixed-col {
  flex: 0 0 170px;
}